
<button onclick="Telegram.WebApp.close()" class="btn btn-danger my-2">Back To HomePage</button>

<%if !@task.is_available%>
  Task is not Available to Submit. Please choose other tasks from the bot.
<%else%>
<!-- app/views/tasks/complete_task.html.erb -->

<h1><%= @is_new_submission ? 'Submit Task' : 'Edit Task' %></h1>

<form id="taskForm" onsubmit="submitTask(event)" enctype="multipart/form-data">
  <input type="hidden" name="task_code" id="task_code" value="<%= @task.code %>">
  <input type="hidden" name="user_code" id="user_code" value="<%= @user.code %>">
  <input type="hidden" name="submission_code" id="submission_code" value="<%= @task_submission.try(:code) %>">

  <b><%=@task.name%></b> 
  <br> 
  <p><%=@task.description%></p>
  <br>
  <br>
  
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" required rows="6"><%= @task_submission&.description || '' %></textarea>
  </div>
  
  <%if @task.image? || @task.video?%>
    <div class="form-group">
        <label for="files">Upload Images and Videos</label>
        <input type="file" name="files[]" id="files" class="form-control" multiple accept="image/*,video/*">
        <span>Prevously Choosen: <%=@task_submission&.uploaded_files.to_a.length%> files</span>
    </div>
  <%end%>

  <%if @task.custom_fields.present?%>
    <h3>Special Details</h3>
  <%end%>
  <%@task.custom_fields.to_a.each do |field_name|%>
    <div class="form-group">
      <label for="meta[<%=field_name%>]"><%=field_name.to_s.capitalize%></label>
      <textarea name="meta[<%=field_name%>]" id="id_for_<%=field_name%>" class="form-control" rows="1"><%= (@task_submission&.meta || {})["#{field_name}"] || '' %></textarea>
    </div>
  <%end%>

  <button type="submit" class="btn btn-success" id="submitBtn"><%= @is_new_submission ? 'Submit' : 'Update Task' %></button>
</form>

<script>
  let isLoading = false;
  const submitBtn = document.getElementById("submitBtn");
  function submitTask(event) {
    if(isLoading){
      return;
    }
    event.preventDefault();
    isLoading = true;
    submitBtn.disabled = true;

    const formData = new FormData(document.getElementById('taskForm'));
    const method = "POST";
    const url = "/tasks/update_complete_task";
    <%
    all_submissions_url = "#{@base_url}/submitted_tasks?user_code=#{@user.code}&task_code=#{@task.code}"
    %>
    const all_s = "<%=all_submissions_url%>";

    fetch(url, {
      method: method,
      body: formData,
      headers: {
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
      }
    })
    .then(response => response.json())
    .then(data => {
      Swal.fire({
        icon: data.success ? "success" : "error",
        text: data.message
      }).then(()=>{
          if(data.success || data.redirect){
            submitBtn.disabled = false;
            window.location.href = all_s;
          }
          else{
            submitBtn.disabled = false;
          }
      })
    })
    .catch(error => {
          submitBtn.disabled = false;
    });

    isLoading = false;
  }
</script>
<%end%>
