<!-- app/views/tasks/index.html.erb -->
<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>

<%= link_to 'Users List', "/tasks/users", class: 'btn btn-warning' %>


<%= link_to 'All Submissions', "/tasks/submissions", class: 'btn btn-success' %>

<table class="table table-striped mt-2">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Is Private</th>
      <th>TimeLine</th>
      <th>Videos/Images</th>
      <th>Cost</th>
      <th>Status</th>
      <th>Maximum Sub Limit</th>
      <th>Minimum Gap</th>
      <th>Actions</th>
      <th>Actions</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.description.truncate(50) %></td>
        <td>
          <%=task.is_private ? "Yes": "NO"%>
          <%= link_to 'Private details', task_details_task_path(id: task.id), class: 'btn btn-warning', target: "_blank"  if task.is_private%>
        </td>
        <td><span style="font-size: 12px;"><%= task.start_time %> <br> <%= task.end_time %></span></td>
        <td>
          <a href="/tasks/add_files?id=<%=task.id%>" target="_blank"><%= task.links.length %> Uploaded </a>
          <ol>
            <%task.urls(@base_url).each_with_index do |x,index|%>
              <li><a href="<%=x%>" target="_blank"><%=index + 1%> File</a></li>
            <%end%>
          </ol>
          </td>
        <td><%= task.cost %></td>
        <td><%= task.status %></td>
        <td><%= task.maximum_per_user %></td>
        <td><%= task.minimum_gap_in_hours %></td>
        <td>
          <%= link_to 'View/Edit', new_task_path(id: task.id), class: 'btn btn-warning' %>

        </td>

        <td>
            <%= link_to 'Submissions', submissions_tasks_path(task_id: task.id), class: 'btn btn-info mx-1' %>

        </td>
        <td>
           <%= link_to 'Download', "/tasks/export_csv.csv?task_id=#{task.id}", class: 'btn btn-info mx-1' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
