<style>
    .pagination.page{
        margin: 10px !important;
    }
</style>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">Registered Users</h2>
      <% if @users.any? %>
        <table class="table table-bordered table-striped table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th>User Id</th>  
              <th>Name</th>
              <th>Chat ID</th>
              <th>Wallet Address</th>
              <th>Total Earning</th>
              <th>Registration Date</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.chat_id %></td>
                <td><%= user.wallet_address || "NA" %></td>
                <td><%= number_to_currency(user.total_earning, unit: "$") %></td>
                <td><%= user.created_at.strftime("%d-%m-%Y %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-warning" role="alert">
          No users found.
        </div>
      <% end %>
    </div>
    <div class="container">
        <%= paginate @users %>
    </div>
  </div>
</div>
