<style>
    .pagination.page{
        margin: 10px !important;
    }
</style>
<div class="mt-4 mx-0">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">Registered Users</h2>
      <% if @users.any? %>
        <table class="table table-bordered table-striped table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th>User Id</th>  
              <th>Name</th>
              <th>Chat ID</th>
              <th>Wallet Address</th>
              <th>Total Earning</th>
              <th>Registration Date</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.chat_id %></td>
                <td><%= user.wallet_address || "NA" %></td>
                <td><%= number_to_currency(user.total_earning, unit: "$") %></td>
                <td><%= user.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                <td><textarea type="text" id="remarks_<%=user.id%>"  rows="3" width="300px;"><%= user.remarks %></textarea></td>
                <td><div class="btn btn-sm btn-warning" onclick="updateRemarks(this,'<%=user.id%>')">Update Remarks</div></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-warning" role="alert">
          No users found.
        </div>
      <% end %>
    </div>
    <div class="container">
        <%= paginate @users %>
    </div>
  </div>
</div>

<script>
  function updateRemarks(selector,tg_user_id){
    const remarks = document.getElementById("remarks_"+tg_user_id).value;
    selector.disabled = true;
    fetch(`/tasks/add_remarks?id=${tg_user_id}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      },
      body: JSON.stringify({ remarks: remarks })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        Swal.fire("Remarks updated successfully!");
      } else {
        Swal.fire("Error updating remarks.");
      }
    })
    .catch(error => {
      Swal.fire("Something went wrong.");
      console.error('Error:', error);
    });
    selector.disabled = false;
  }
</script>
